<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Admin | Funkoshop</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/styles.css" />
    
  </head>
  <body>
    
    <%- include( '../../partials/header-admin') %>

    <main class="admin__main container">
      <section class="busqueda">
       <form action="/admin/search" method="POST">
        <button class="busqueda__submit" type="submit">
          <img
            class="busqueda__icon"
            src="../../images/icons/search_icon.svg"
            alt="buscar"
          />
        </button>
        <input
          class="busqueda__buscar"
          id="busqueda__buscar"
          type="text"
          name="busqueda__buscar"
          placeholder="código, nombre o licencia" 
        />  <!-- licencia o categoría? -->
       </form>
      </section>

      <section class="admin__listado">
        <div class="admin__listado__titulo">
          <p>LISTADO DE PRODUCTOS</p>
          <span class="admin__agregar"
            >AGREGAR<a href="/admin/create"
              ><iconify-icon
                icon="bxs:plus-square"
                style="color: #f33"
              ></iconify-icon></a
          ></span>
        </div>
        <!--  usar JSON.parse() y filesystem para leer los datos desde archivo /datos/product.json -->
        <div class="admin__grid">
          <article class="admin__grid__row admin__grid__row__header">
            <p>ID</p>
            <p>Código</p>
            <p>Nombre del Producto</p>
            <p>Licencia</p>
            <!-- <p>Categoría</p> PERO en Figma esta categoria en vez de licencia -->
          </article>
          <% items.forEach(item => { %>
            <article class="admin__grid__row">   
                <p><%= item.product_id %></p>
                <p><%= item.sku %></p>
                <p><%= item.product_name %></p>
                <p><%= item.licence_name %></p>
                <!-- <p><%= item.category_name %></p> PERO en Figma esta categoria en vez de licencia -->
                <p><a href="/admin/edit/<%= item.product_id %>"><iconify-icon icon="mdi:pencil" style="color: #1d84b5;"></iconify-icon></a></p>
                <form action="/admin/delete/<%= item.product_id %>?_method=DELETE" method="POST">
                    <button class="admin-table__btn-delete" type="submit">
                        <iconify-icon icon="heroicons-solid:trash" style="color: #f33;"></iconify-icon>
                    </button>
                </form>
            </article>
          <% }); %>
        </div>
      </section>
    </main>

    <%- include( '../../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  </body>
</html>
